<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sayfulloh.phonebook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DrobleActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RogunHPP.Employees.NameDeportActivity"
        android:label="@string/title_NameDeportActivity"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.ListDivision.KotibotActivity"
        android:label="@string/title_KotibotActivity"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.RogunDepartment.RayKotibot.ShubaiUmumi"
        android:label="@string/title_ShubaiUmumi"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.ListDivision.RayMonitoring"
        android:label="@string/title_RayMonitoring"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.ListDivision.Markazi_Salomati"
        android:label="@string/title_Markazi_Salomati"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.ListDivision.SitodiSohtmon"
        android:label="@string/title_SitodiSohtmon"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.ListDivision.Muhosibot"
        android:label="@string/title_Muhosibot1"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.ListDivision.Kadr"
        android:label="@string/title_Kadr"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.ListDivision.RayLoihakashiTehniki"
        android:label="@string/title_RayLoihakashiTehniki"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.ListDivision.RayKabuliKorho"
        android:label="@string/title_RayKabuliKorho"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.ListDivision.RayHuquq"
        android:label="@string/title_RayHuquq"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.ListDivision.RayMolia"
        android:label="@string/title_RayMolia"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.ListDivision.RayHaridiTajizot"
        android:label="@string/title_RayHaridiTajizot"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.ListDivision.RayNazoratiTehniki"
        android:label="@string/title_RayNazoratiTehniki"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.ListDivision.OzmoishgohiMarkazi"
        android:label="@string/title_OzmoishgohiMarkazi"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.ListDivision.RayKorho"
        android:label="@string/title_RayKorho"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.ListDivision.RayModiiTehniki"
        android:label="@string/title_RayModiiTehniki"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.ListDivision.DasgohiKotibiKorporativi"
        android:label="@string/title_DasgohiKotibiKorporativi"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.ListDivision.RayTaminotiBehatari"
        android:label="@string/title_RayTaminotiBehatari"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.ListDivision.Rohbariat"
        android:label="@string/title_Rohbariat"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.RogunDepartment.RayKotibot.BahshiTarjumon"
        android:label="@string/title_BahshiTarjumon"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.RogunDepartment.RayKotibot.IT"
        android:label="@string/title_IT"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.RogunDepartment.RayKotibot.TahlilJanbast"
        android:label="@string/title_TahlilJanbast"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.RogunDepartment.RayKotibot.Ruhsatnoma"
        android:label="@string/title_Ruhsatnoma"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.RogunDepartment.RayKotibot.Matbuot"
        android:label="@string/title_Matbuot"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.RogunDepartment.Kadr.BahshiMahsusiKadr"
        android:label="@string/title_BahshiMahsusiKadr"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.RogunDepartment.RayLoihakashiTehniki.ShubaiTehniki"
        android:label="@string/title_ShubaiTehniki"
            android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.RogunDepartment.RayLoihakashiTehniki.Boygoni"
        android:label="@string/title_Boygoni"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.RogunDepartment.RayLoihakashiTehniki.ShubaiLoikashi"
        android:label="@string/title_ShubaiLoikashi"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.RogunDepartment.RayKabuliKorho.ShubaiKorRuiZamini"
        android:label="@string/title_ShubaiKorRuiZamini"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.RogunDepartment.RayKabuliKorho.ShubaiKorZerizamini"
        android:label="@string/title_ShubaiKorZerizamini"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.RogunDepartment.RayKabuliKorho.ShubaiIstehsoli"
        android:label="@string/title_ShubaiIstehsoli"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.RogunDepartment.RayMonitoring.ShubaiMarkshedri"
        android:label="@string/title_ShubaiMarkshedri"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.RogunDepartment.RayMonitoring.ShubaiGeodezia"
        android:label="@string/title_ShubaiGeodezia1"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.RogunDepartment.RayMonitoring.ShubaiMonitoringiGeodezi"
        android:label="@string/title_ShubaiMonitoringiGeodezi"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.RogunDepartment.RayMonitoring.ShubaiGeofiziki"
        android:label="@string/title_ShubaiGeofiziki"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.RogunDepartment.RayMonitoring.ShubaiTahliliMonitoring"
        android:label="@string/title_ShubaiTahliliMonitoring"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.RogunDepartment.RayMolia.ShubaiHarjnomaho"
        android:label="@string/title_ShubaiHarjnomaho"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.RogunDepartment.ShubaiHaridiTajizot.ShubaiHaridiTajizot"
        android:label="@string/title_ShubaiHaridiTajizot"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.RogunDepartment.RayKorho.HojagiiManzil"
        android:label="@string/title_HojagiiManzil"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.RogunDepartment.RayKorho.HurokiUmumi"
        android:label="@string/title_HurokiUmumi"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.RogunDepartment.RayKorho.QitaiSuzishvori"
        android:label="@string/title_QitaiSuzishvori"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.RogunDepartment.RayKorho.RonandagoniRayNaqliet"
        android:label="@string/title_RonandagoniRayNaqliet"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.ListDivision.ItifoqiKasaba"
        android:label="@string/title_ItifoqiKasaba"
        android:theme="@style/AppTheme"/>
        <activity android:name=".RogunHPP.ListDivision.HizbiHalqi"
        android:label="@string/title_HizbiHalqi"
        android:theme="@style/AppTheme"/>


        <activity android:name=".SohtmoniAsosi.SohtmoniAsosi"
        android:label="@string/title_SohtmoniAsosi"
        android:theme="@style/AppTheme"/>
        <activity android:name=".SohtmoniAsosi.ListDivision.ShubaiKadr"
        android:label="@string/title_ShubaiKadr"
        android:theme="@style/AppTheme"/>
        <activity android:name=".SohtmoniAsosi.ListDivision.Muhosibot"
        android:label="@string/title_Muhosibot"
        android:theme="@style/AppTheme"/>
        <activity android:name=".SohtmoniAsosi.ListDivision.ShubaiGeodezia"
        android:label="@string/title_ShubaiGeodezia"
        android:theme="@style/AppTheme"/>
        <activity android:name=".SohtmoniAsosi.ListDivision.SitodiJSF"
        android:label="@string/title_SitodiJSF"
        android:theme="@style/AppTheme"/>
        <activity android:name=".SohtmoniAsosi.ListDivision.QitaiKorhBehatari"
        android:label="@string/title_QitaiKorhBehatari"
        android:theme="@style/AppTheme"/>
        <activity android:name=".SohtmoniAsosi.ListDivision.IstifodaRoho"
        android:label="@string/title_IstifodaRoho"
        android:theme="@style/AppTheme"/>
        <activity android:name=".SohtmoniAsosi.ListDivision.KoriZeriZamin"
        android:label="@string/title_KoriZeriZamin"
        android:theme="@style/AppTheme"/>
        <activity android:name=".SohtmoniAsosi.ListDivision.KorhoiTarkishi"
        android:label="@string/title_KorhoiTarkishi"
        android:theme="@style/AppTheme"/>
        <activity android:name=".SohtmoniAsosi.ListDivision.QMV1"
        android:label="@string/title_QMV1"
        android:theme="@style/AppTheme"/>
        <activity android:name=".SohtmoniAsosi.ListDivision.QMV2"
        android:label="@string/title_QMV2"
        android:theme="@style/AppTheme"/>
        <activity android:name=".SohtmoniAsosi.ListDivision.QNA"
        android:label="@string/title_QNA"
        android:theme="@style/AppTheme"/>
        <activity android:name=".SohtmoniAsosi.ListDivision.QitaiObparto"
        android:label="@string/title_QitaiObparto"
        android:theme="@style/AppTheme"/>
        <activity android:name=".SohtmoniAsosi.ListDivision.Kompresor"
        android:label="@string/title_Kompresor"
        android:theme="@style/AppTheme"/>
        <activity android:name=".SohtmoniAsosi.ListDivision.QitaiInshuotSohtmon"
        android:label="@string/title_QitaiInshuotSohtmon"
        android:theme="@style/AppTheme"/>
        <activity android:name=".SohtmoniAsosi.ListDivision.CQI_QCSH_CQM"
            android:label="@string/title_CQI_QCSH_CQM"
            android:theme="@style/AppTheme"/>/>


        <activity android:name=".Company_in_RogunHPP.Company_in_RogunHPP"
            android:label="@string/title_Company_in_RogunHPP"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.Tojiknaqbsoz"
            android:label="@string/title_company_Tojiknaqbsoz"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.Nurafshon"
            android:label="@string/title_company_Nurafshon"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.TojikCGM"
            android:label="@string/title_company_TojikCGM"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.TojikGidrospecstroyNorak"
            android:label="@string/title_company_TojikGidrospecstroyNorak"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.Tojikkuhkan"
            android:label="@string/title_company_Tojikkuhkan"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.Nurob"
            android:label="@string/title_company_Nurob"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.OrmiRohiKorun"
            android:label="@string/title_company_OrmiRohiKorun"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.Elitstroy"
            android:label="@string/title_company_elitstroy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Company_in_RogunHPP.ListDivision.SomonNur"
            android:label="@string/title_company_SomonNur"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.GSSDangara"
            android:label="@string/title_company_GSSDangara"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.Oriena"
            android:label="@string/title_company_Oriena"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.MehrdodInterneshn"
            android:label="@string/title_company_MehrdodInterneshn"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.Nursoz"
            android:label="@string/title_company_Nursoz"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.Obod2013"
            android:label="@string/title_company_Obod2013"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.Invertor"
            android:label="@string/title_company_Invertor"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.Tojikgidromontaj"
            android:label="@string/title_company_Tojikgidromontaj"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.KF_EKK_3"
            android:label="@string/title_company_KF_EKK_3"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.MMZ_Sh_Norak"
            android:label="@string/title_company_MMZ_Sh_Norak"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.MirshohSohtmon"
            android:label="@string/title_company_MirshohSohtmon"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.Somonien"
            android:label="@string/title_company_Somonien"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.DagSpesctroy"
            android:label="@string/title_company_DagSpesctroy"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.SadDare"
            android:label="@string/title_company_SadDare"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.Mavlak"
            android:label="@string/title_company_Mavlak"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.AsriNur"
            android:label="@string/title_company_AsriNur"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.GidroEnergostroy"
            android:label="@string/title_company_GidroEnergostroy"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.Intersohtmon"
            android:label="@string/title_company_Intersohtmon"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.ShirkatiSharqiKuhi"
            android:label="@string/title_company_ShirkatiSharqiKuhi"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.GidroSpecproekt"
            android:label="@string/title_company_GidroSpecproekt"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.GidroOsieoMarkazi"
            android:label="@string/title_company_GidroOsieoMarkazi"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.Tades"
            android:label="@string/title_company_Tades"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.Hokrud"
            android:label="@string/title_company_Hokrud"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.VestTranstroy"
            android:label="@string/title_company_VestTranstroy"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.Sarband2"
            android:label="@string/title_company_Sarband2"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.JomKo"
            android:label="@string/title_company_JomKo"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.UmronMorun"
            android:label="@string/title_company_UmronMorun"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.HizmatrasoniiMuhandisi"
            android:label="@string/title_company_HizmatrasoniiMuhandisi"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.AziaGidro"
            android:label="@string/title_company_AziaGidro"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.Farob"
            android:label="@string/title_company_Farob"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Company_in_RogunHPP.ListDivision.Samand"
            android:label="@string/title_company_Samand"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".Company_in_RogunHPP.ListDivision.Nur81"
            android:label="@string/title_activity_nur81"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Company_in_RogunHPP.ListDivision.GushikayLTD"
            android:label="@string/title_activity_gushikay_ltd"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Company_in_RogunHPP.ListDivision.GeozolPetrosalin"
            android:label="@string/title_company_GeozolPetrosalin"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".Abount.AbountActivity"
            android:label="@string/title_activity_abount"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Abount.SayfullohActivity"
            android:label="@string/title_activity_sayfulloh"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>