<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sayfulloh.phonebook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DrobleActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RogunHPP.Employees.NameDeportActivity" />
        <activity android:name=".RogunHPP.ListDivision.KotibotActivity" />
        <activity android:name=".RogunHPP.Employees.RogunHPP.Kotibot.ShubaiUmumi" />
        <activity android:name=".RogunHPP.ListDivision.RayMonitoring" />
        <activity android:name=".RogunHPP.ListDivision.Markazi_Salomati" />
        <activity android:name=".RogunHPP.ListDivision.SitodiSohtmon" />
        <activity android:name=".RogunHPP.ListDivision.Muhosibot" />
        <activity android:name=".RogunHPP.ListDivision.Kadr" />
        <activity android:name=".RogunHPP.ListDivision.RayLoihakashiTehniki" />
        <activity android:name=".RogunHPP.ListDivision.RayKabuliKorho" />
        <activity android:name=".RogunHPP.ListDivision.RayHuquq" />
        <activity android:name=".RogunHPP.ListDivision.RayMolia" />
        <activity android:name=".RogunHPP.ListDivision.RayHaridiTajizot" />
        <activity android:name=".RogunHPP.ListDivision.RaySementasia" />
        <activity android:name=".RogunHPP.ListDivision.RayNazoratiTehniki" />
        <activity android:name=".RogunHPP.ListDivision.OzmoishgohiMarkazi" />
        <activity android:name=".RogunHPP.ListDivision.RayKorho" />
        <activity android:name=".RogunHPP.ListDivision.RayModiiTehniki" />
        <activity android:name=".RogunHPP.ListDivision.RayHaridMarketing" />
        <activity android:name=".RogunHPP.ListDivision.DasgohiKotibiKorporativi" />
        <activity android:name=".RogunHPP.ListDivision.RayTaminotiBehatari" />
        <activity android:name=".RogunHPP.ListDivision.Rohbariat" />
        <activity android:name=".RogunHPP.Employees.RogunHPP.Kotibot.BahshiTarjumon" />
        <activity android:name=".RogunHPP.Employees.RogunHPP.Kotibot.IT" />
        <activity android:name=".RogunHPP.Employees.RogunHPP.Kotibot.TahlilJanbast" />
        <activity android:name=".RogunHPP.Employees.RogunHPP.Kotibot.Ruhsatnoma" />
        <activity android:name=".RogunHPP.Employees.RogunHPP.Kotibot.Matbuot" />
        <activity android:name=".RogunHPP.Employees.RogunHPP.Kadr.BahshiMahsusiKadr" />
        <activity android:name=".RogunHPP.Employees.RogunHPP.RayLoikashiTehniki.ShubaiTehniki" />
        <activity android:name=".RogunHPP.Employees.RogunHPP.RayLoikashiTehniki.Boygoni" />
        <activity android:name=".RogunHPP.Employees.RogunHPP.RayLoikashiTehniki.ShubaiLoikashi" />
        <activity android:name=".RogunHPP.Employees.RogunHPP.RayKabuliKorho.ShubaiKorRuiZamini" />
        <activity android:name=".RogunHPP.Employees.RogunHPP.RayKabuliKorho.ShubaiKorZerizamini" />
        <activity android:name=".RogunHPP.Employees.RogunHPP.RayKabuliKorho.ShubaiIstehsoli" />
        <activity android:name=".RogunHPP.Employees.RogunHPP.RayMonitoring.ShubaiMarkshedri" />
        <activity android:name=".RogunHPP.Employees.RogunHPP.RayMonitoring.ShubaiGeodezia" />
        <activity android:name=".RogunHPP.Employees.RogunHPP.RayMonitoring.ShubaiMonitoringiGeodezi" />
        <activity android:name=".RogunHPP.Employees.RogunHPP.RayMonitoring.ShubaiGeofiziki" />
        <activity android:name=".RogunHPP.Employees.RogunHPP.RayMonitoring.ShubaiTahliliMonitoring" />
        <activity android:name=".RogunHPP.Employees.RogunHPP.RayMolia.ShubaiHarjnomaho" />
        <activity android:name=".RogunHPP.Employees.RogunHPP.RayHaridiTajizot.ShubaiHaridiTajizot" />
        <activity android:name=".RogunHPP.Employees.RogunHPP.RayKorho.HojagiiManzil" />
        <activity android:name=".RogunHPP.Employees.RogunHPP.RayKorho.HurokiUmumi" />
        <activity android:name=".RogunHPP.Employees.RogunHPP.RayKorho.QitaiSuzishvori" />
        <activity android:name=".RogunHPP.Employees.RogunHPP.RayKorho.RonandagoniRayNaqliet" />
        <activity android:name=".SohtmoniAsosi.SohtmoniAsosi" />
        <activity android:name=".RogunHPP.ListDivision.ItifoqiKasaba" />
        <activity android:name=".RogunHPP.ListDivision.HizbiHalqi"></activity>
    </application>

</manifest>